body {
    margin: 0;
    background-image: 
  linear-gradient(-45deg, transparent 50%, #E8E8E4 50%, #E8E8E4 55%, transparent 55%), 
  linear-gradient(-45deg, #E8E8E4 5%, transparent 5%);
  background-color: #FEFFFE;
  background-size: 1em 1em;
  }
  .container{
    width: 210px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
  }
  ul {
    list-style: none;
    padding: 10px;
    display: inline-block;
    background: #3C4147;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,.7), 2px 2px 1px #3C4147;
  }
  li {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: black; 
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.4), inset -2px -2px 4px rgba(255,255,255,.6);
  }
  @keyframes traffic {
   100%{background: #FB000D;}
  }
  @keyframes traffic1 {
    100%{background: #FED21D;}
  }
  @keyframes traffic2 {
    100%{background: #7DFA04;}
  }
 .container li:nth-of-type(1) {
    margin-bottom:5px;
    animation: traffic 10s backwards;
  }
  .container li:nth-of-type(2) {
    margin-bottom: 5px;
    animation: traffic1 5s backwards 15s;
  }
  .container li:nth-of-type(3) {
    animation: traffic2 10s backwards 20s;
  }